---
import Layout from "../layouts/Layout.astro";
import ProductList from "../components/ProductList.astro";
import productsData from "../data/products.json";
import BannerCategorias from "../components/BannerCategorias.astro";
import Jumbotron from "../components/Jumbotron.astro";
---

<Layout
  title="Veva Underwear - Lencería femenina"
  description="Lencería y ropa interior para damas y niñas. Variedad de talles. Somos fabricantes"
>
  <main class="pt-16 mb-auto">
    <Jumbotron />
    <BannerCategorias />
    <ProductList products={productsData} />
  </main>
</Layout>
