<div class="grid sm:grid-cols-4 grid-col-2">
  <div>
    <a href="bombachas">
      <img
        class="h-auto max-w-full"
        src="/img/home_assets/categorias-01.png"
        alt="Categoría Bombachas"
      />
    </a>
  </div>

  <div>
    <a href="corpiños">
      <img
        class="h-auto max-w-full"
        src="/img/home_assets/categorias-02.png"
        alt="Categoría Corpiños"
      />
    </a>
  </div>
  <div class="to-black">
    <a href="conjuntos">
      <img
        class="h-auto max-w-full"
        src="/img/home_assets/categorias-03.png"
        alt="Categoría Conjuntos"
      />
    </a>
  </div>
  <div>
    <a href="nenas">
      <img
        class="h-auto max-w-full"
        src="/img/home_assets/categorias-04.png"
        alt="Categoría Nenas"
      />
    </a>
  </div>
</div>
