---
const { links } = Astro.props;
---

<div class="text-gray-600 text-sm mb-4 mt-16 mx-4">
  <div class="inline-flex items-center space-x-1">
    {
      links.map((link, index) => (
        <div>
          <div class="flex items-center">
            {index !== 0 && (
              <svg
                class="font-light"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-slash"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M17 5l-10 14" />
              </svg>
            )}
            {link.url ? (
              <a href={link.url} class="text-charcoal hover:underline text-sm">
                {link.label}
              </a>
            ) : (
              <span class="text-charcoal uppercase text-sm">{link.label}</span>
            )}
          </div>
        </div>
      ))
    }
  </div>
</div>
