---
const { colors } = Astro.props;

// mapa de colores
const colorMap = {
  blanco: "#ffffff",
  avellana: "#d2b48c",
  negro: "#000000",
  rojo: "#ff0000",
  crema: "#f5f5dc",
  gris: "#808080",
  rosa: "#e9a4ad",
  verdeAgua: "#70c1a7",
};
---

<div class="flex space-x-2 mt-2">
  {
    colors?.map((color) => (
      <div class="relative inline-block">
        {/* Círculo de color */}
        <span
          class="inline-block h-4 w-4 cursor-pointer rounded-full border border-gray-300 group/item"
          style={`background-color: ${colorMap[color]}`}
        >
          {/* Tooltip: Solo se muestra cuando el cursor está sobre el círculo */}
          <span
            class="absolute bottom-full left-1/2 mb-1 translate-x-2 translate-y-12 z-10 transform rounded bg-slate-50 px-1 py-1 text-xs text-slate-400 transition-opacity duration-300 opacity-0 group-hover/item:opacity-100"
            style="white-space: nowrap;"
          >
            {color[0].toUpperCase() + color.slice(1)}
          </span>
        </span>
      </div>
    ))
  }
</div>
